<ActionBar title="Confirm Phone Number">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="global.back()"></NavigationButton>
</ActionBar>
<StackLayout>
    <StackLayout class="form p-30">
        <StackLayout class="input-field m-10">   
            <TextField [(ngModel)]="confirmationCode" hint="Confirmation code" class="input"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Label class="input-field m-10" textWrap="true" 
            text="We've sent you an SMS with the confirmation code, enter the code in the field above. If you haven't received one yet then tap on the Retry button below."></Label>
        <Button class="input-field btn btn-primary btn-rounded-sm m-10" text="Confirm" (tap)="checkCode()"></Button>
        <Button class="input-field btn btn-outline btn-rounded-sm m-10" text="Retry" (tap)="global.back()"></Button>
    </StackLayout>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout>