<ActionBar title="Your Posts">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="global.back()"></NavigationButton>
</ActionBar>

<StackLayout >
    <SearchBar hint="Search hint" (loaded)="sBLoaded($event)" (clear)="onClear($event)" [text]="searchPhrase" (submit)="onSubmit($event)"></SearchBar>
    <PullToRefresh (refresh)="refreshPostData($event)">
        <ListView class="list-group" [items]="posts"  (loadMoreItems)="loadMoreItems()">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <Gridlayout columns="*3,*8" horizontalAlignment="left" verticalAlignment="top" (tap)="manage(item.fields, item.pk)">
                        <FrescoDrawee *ngIf="item.fields.image1 != ''" #drawee class="post-thumbnail "
                            verticalAlignment="center" 
                            placeholderImageUri="~/images/placeholder1.png" 
                            aspectRatio="2" 
                            imageUri="{{global.roothost + item.fields.image1}}"></FrescoDrawee>
                        <Image *ngIf="item.fields.image1 == ''" row="0" col="0" 
                            src="~/images/placeholder.png" className="post-thumbnail"></Image>
                        <StackLayout row="0" col="1" class="list-group-item" [class.odd]="odd" [class.even]="even">
                            <Label style="color:#00002B;" class="list-group-item-heading cl-dark-blue" [text]="item.fields.title"></Label>
                            <Label class="list-group-item-text cl-light-grey" [text]="item.fields.description"></Label>
                            <Label style="color:#005500;" id="f-30" class="list-group-item-text cl-green " [text]="'$' + item.fields.price"></Label>
                            <Label className="list-group-item-text footnote" 
                                text="{{item.fields.created | amTimeAgo}} in {{item.fields.location}}"></Label>
                        </StackLayout>
                    </Gridlayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout>
