<ActionBar title="View Post">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="global.back()"></NavigationButton>
</ActionBar>
<StackLayout>
<ScrollView orientation="vertical">
    <StackLayout>
        <ScrollView orientation="vertical">
            <StackLayout class="p-30">
                <Label [text]="post.title" class="h2 m-5"></Label>
                <Label [text]="post.description" class="body m-5" textWrap="true"></Label>
                <Label text="${{post.price}}" class="h1 m-5"></Label>
                <Label [text]="post.created | amTimeAgo" class="footnote m-5"></Label>
                <StackLayout class="hr-light m-10"></StackLayout>
                <Button (tap)="callNumber(post.phone)" class="btn btn-rounded-sm btn-primary" text="Call {{post.ownername}}"></Button>
                <Button (tap)="sendSMS(post.phone, 'Hi, I\'m interested in your; \''+post.title+'\' Ad from Easysearch!')" class="btn btn-rounded-sm btn-primary" text="Send text message"></Button>

            </StackLayout>
        </ScrollView>
        <ScrollView orientation="horizontal">
            <StackLayout>
                <FrescoDrawee *ngIf="post.image1 != ''" #drawee class="postImage m-10"
                    verticalAlignment="center" 
                    placeholderImageUri="~/images/placeholder1.png" 
                    aspectRatio="2" 
                    imageUri="{{global.roothost + post.image1}}"></FrescoDrawee>
                <FrescoDrawee *ngIf="post.image2 != ''" #drawee class="postImage m-10"
                    verticalAlignment="center" 
                    placeholderImageUri="~/images/placeholder1.png" 
                    aspectRatio="2" 
                    imageUri="{{global.roothost + post.image2}}"></FrescoDrawee>
                <FrescoDrawee *ngIf="post.image3 != ''" #drawee class="postImage m-10"
                    verticalAlignment="center" 
                    placeholderImageUri="~/images/placeholder1.png" 
                    aspectRatio="2" 
                    imageUri="{{global.roothost + post.image3}}"></FrescoDrawee>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</ScrollView>
</StackLayout>
