@import "nativescript-theme-core/css/core.light.css";
@import "custom.css";

.postImage {
    height:325;
}

.minor-text {
    font-size:12;
}

.list-group-item .cl-dark-blue{
  color:#00002B;
}
.list-group-item .cl-light-blue{
  color:#000055;
}
.list-group-item .cl-light-grey{
  color:#4B4B4B;
}
.list-group-item .cl-green{
  color:#005500;
}

#f-30 {
    font-size:25;
}

.post-thumbnail {
    /*max-width:100%;*/
    height:200px;
    width:200px;
    margin:30px;
}