<ActionBar title="Account Details">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="global.back()"></NavigationButton>
</ActionBar>
<StackLayout>
    <StackLayout class="form p-30">
        <Label class="input-field m-10" textWrap="true" 
            text="Update your account details below."></Label>
        <Label class="input-field m-10" textWrap="true" style="color:blue;" (tap)="where()"
            text="Where did this account come from?"></Label>
        <StackLayout class="input-field m-10">   
            <TextField [(ngModel)]="profile.name" hint="Your name" class="input"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Label class="input-field m-10" textWrap="true" [text]="profile.phone"></Label>
        <Button class="input-field btn btn-primary btn-rounded-sm m-10" text="Submit" (tap)="submit()"></Button>
        <Label class="input-field m-10" textWrap="true" 
            text="Confirm a different number" (tap)="diffNumber()" style="color:blue;"></Label>
    </StackLayout>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout>