<ActionBar title="Easysearch">
    <!--<ActionItem
        ios.systemIcon="12" ios.position="left"
        android.systemIcon="ic_menu_search" 
        android.position="actionBar"></ActionItem>-->
    <ActionItem 
        [nsRouterLink]="['/about']"
        ios.systemIcon="11" ios.position="right"
        text="About Easysearch" android.position="popup"></ActionItem>
    <ActionItem 
        (tap)="signout()"
        ios.systemIcon="21" ios.position="right"
        text="Sign Out" android.position="popup"></ActionItem>
</ActionBar>
<TabView class="tab-view" [(ngModel)]="tabSelectedIndex">
    <StackLayout *tabItem="{title: 'Posts'}" >
        <SearchBar hint="Search hint" (loaded)="sBLoaded($event)" (clear)="onClear($event)" [text]="searchPhrase" (submit)="onSubmit($event)"></SearchBar>
        <PullToRefresh (refresh)="refreshPostData($event)" >
            <ListView class="list-group" [items]="posts" (loadMoreItems)="loadMoreItems()" >
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                        <Gridlayout columns="*3,*8" horizontalAlignment="left" verticalAlignment="top"
                            [nsRouterLink]="['/viewpost', {phone:item.fields.phone,ownername:item.fields.ownername,title:item.fields.title,description:item.fields.description,price:item.fields.price,created:item.fields.created,image1:item.fields.image1,image2:item.fields.image2,image3:item.fields.image3}]">
                            <FrescoDrawee *ngIf="item.fields.image1 != ''" #drawee
                                style="width:{{quarterScreenWidth}}px; height:{{quarterScreenWidth}}px"
                                class="m-15" 
                                verticalAlignment="center" 
                                placeholderImageUri="~/images/placeholder1.png" 
                                aspectRatio="2" 
                                imageUri="{{global.roothost + item.fields.image1}}"></FrescoDrawee>
                            <Image *ngIf="item.fields.image1 == ''" row="0" col="0" 
                                src="~/images/placeholder.png" 
                                style="width:{{quarterScreenWidth}}px; height:{{quarterScreenWidth}}px"
                                class="m-15"></Image>
                            <StackLayout row="0" col="1" class="list-group-item" [class.odd]="odd" [class.even]="even">
                                <Label style="color:#00002B;" class="list-group-item-heading cl-dark-blue" [text]="item.fields.title"></Label>
                                <Label class="list-group-item-text cl-light-grey" [text]="item.fields.description"></Label>
                                <Label style="color:#005500;" id="f-30" class="list-group-item-text cl-green " [text]="'$' + item.fields.price"></Label>
                                <Label className="list-group-item-text footnote" 
                                    text="{{item.fields.created | amTimeAgo}} in {{item.fields.location}}"></Label>
                            </StackLayout>
                        </Gridlayout> 
                </ng-template> 
            </ListView>
        </PullToRefresh>
    </StackLayout>
    <StackLayout *tabItem="{title: 'New'}">
        <!--<PullToRefresh (refresh)="refreshCategories($event)">-->
            <StackLayout>
                <Label text="New item details" class="text-center p-10 footnote"></Label>
                <GridLayout columns="*1,*1,*1" style="width:{{screenWidth}}px;" horizontalAlignment="left" verticalAlignment="top">
                    <Image (tap)="takePic('image1')" #image1 row="0" col="0" [src]="images.imageSource1" class="post-thumbnail"></Image>
                    <Image (tap)="takePic('image2')" #image2 row="0" col="1" [src]="images.imageSource2" class="post-thumbnail"></Image>
                    <Image (tap)="takePic('image3')" #image3 row="0" col="2" [src]="images.imageSource3" class="post-thumbnail"></Image>
                </GridLayout>
                <ScrollView orientation="vertical">
                    <StackLayout class="form p-30">

                        <StackLayout class="input-field">
                            <ListPicker [(ngModel)]="newpost.category" [items]="categories" selectedIndex="0" 
                                (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout class="input-field">   
                            <TextField [(ngModel)]="newpost.title" hint="Title (required)" class="input"></TextField>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout class="input-field">
                            <TextView [(ngModel)]="newpost.description" hint="Item description" returnKeyType="send" [editable]="true"
                                class="input"></TextView>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout class="input-field">   
                            <TextField [(ngModel)]="newpost.price" hint="Price (required)" class="input"></TextField>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout class="input-field">   
                            <TextField [(ngModel)]="newpost.location" hint="Location (required)" class="input"></TextField>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout class="input-field">   
                            <TextField [(ngModel)]="newpost.name" hint="Your full name" class="input"></TextField>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout class="input-field">   
                            <TextField [(ngModel)]="newpost.phone" hint="Your cellphone number (required)" class="input"></TextField>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <Button class="btn btn-primary" text="Create Post" (tap)="createAd()"></Button>
                        <!--<Button class="btn btn-outline" text="Sign Up" (tap)="signup()"></Button>-->

                    </StackLayout>
                </ScrollView>
            </StackLayout>
        <!--</PullToRefresh>-->
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Profile'}">
        <StackLayout *ngIf="!loggedIn" class="form p-30">
            <StackLayout class="input-field m-10">   
                <TextField [(ngModel)]="confirmNumber" hint="Your phone number" class="input"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <Label class="input-field m-10" textWrap="true" text="To access your profile and edit your Ads we'll need you to confirm your Zimbabwean (other countries coming soon) phone number. Make sure you have the phone nearby then fill in your phone number above and tap the send button."></Label>
            <Button class="input-field btn btn-primary btn-rounded-sm m-10" text="Send" (tap)="registerNumber()"></Button>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout *ngIf="loggedIn" class="form p-20">
            <StackLayout class="list-group">
                    <StackLayout class="list-group-item" [nsRouterLink]="['/profile']">
                        <Label class="list-group-item-heading" text="Account Details"></Label>
                        <Label class="list-group-item-text" textWrap="true" text="Details of your account like your phone number and full name"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>
                    <StackLayout class="list-group-item" [nsRouterLink]="['/manage']">
                        <Label class="list-group-item-heading" text="Edit Posts"></Label>
                        <Label class="list-group-item-text" textWrap="true" text="Edit or delete posts you've made in the past"></Label>
                    </StackLayout>
                    <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</TabView>