<ActionBar title="Edit Post">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="global.back()"></NavigationButton>
</ActionBar>

<StackLayout>
    <Label text="Edit item details" class="text-center p-10 footnote"></Label>
    <GridLayout columns="*1,*1,*1" style="width:{{screenWidth}}px;" horizontalAlignment="left" verticalAlignment="top">
        <Image (tap)="takePic('image1')" #image2 row="0" col="0" [src]="images.imageSource1" class="post-thumbnail"></Image>
        <Image (tap)="takePic('image2')" #image2 row="0" col="1" [src]="images.imageSource2" class="post-thumbnail"></Image>
        <Image (tap)="takePic('image3')" #image3 row="0" col="2" [src]="images.imageSource3" class="post-thumbnail"></Image>
    </GridLayout>
    <ScrollView orientation="vertical">
        <StackLayout class="form p-30">

            <StackLayout class="input-field">
                <ListPicker [(ngModel)]="newpost.category" [items]="categories" selectedIndex="0" 
                    (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">   
                <TextField [(ngModel)]="newpost.title" hint="Title (required)" class="input"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">
                <TextView [(ngModel)]="newpost.description" hint="Item description" returnKeyType="send" [editable]="true"
                    class="input"></TextView>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">   
                <TextField [(ngModel)]="newpost.price" hint="Price (required)" class="input"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">   
                <TextField [(ngModel)]="newpost.location" hint="Location (required)" class="input"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">   
                <TextField [(ngModel)]="newpost.name" hint="Your full name" class="input"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout class="input-field">   
                <TextField [(ngModel)]="newpost.phone" hint="Your cellphone number (required)" class="input"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <Button class="btn btn-primary" text="Update Post" (tap)="updateAd()"></Button>
            <!--<Button class="btn btn-outline" text="Sign Up" (tap)="signup()"></Button>-->

        </StackLayout>
    </ScrollView>
</StackLayout>
